.page-info-area {
    position: absolute;
    height:90%;
    width: 86%;
    top: 10%;
    left: 14%;
}

.top-button {
    border:2px solid #f65a5b;
    top: 5px;
    position: relative;
    margin: auto 5px;
    height: 35px;
    color: white;
    font-family: 'roboto';
    font-size: 17px;
    font-weight: 300;
    float: right;
    height: 45px;
}

.top-button:hover {
    border: 2px solid #f65a5b;
    color: #f65a5b;
    background-color: white;
}

.user-info-area {
    position: absolute;
    width: 90%;
    left: 5%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color:transparent;
    border: 0px #aaa;
    border-style: dashed;
}

.user-icon-wrapper {
    position: relative;
    display: inline-block;
    height: auto;
    width: auto;
    margin: 40px;
}

.user-icon-wrapper p {
    font-family: 'roboto';
    font-weight: 400;
}

.user-icon {
    font-size: 100px;
    color: #aaa;
}

.jumbotron {
    position: fixed;
    z-index: 1;
    height: 29%;
    top: 71%;
    width: inherit;
    display: none;
    box-shadow: 0px 0.7px 8px black;
    padding: 20px;
    border-radius: 0px;
}

.user-name {
    position: relative;
    margin-top: 30%;
    text-align: center;
    height: auto;
    bottom: 0px;
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-family: 'roboto';
    font-weight: 400;
}

.user-description {
    position: fixed;
    display:none;
    z-index: 20;
    opacity: 0;
    left: 14%; right: 0px;
    width: 200px; 
}

.delete-user {
    float: right;
    position: relative;
    background-color: #f65a5b;
    height: 30px;
    width: 20%;
    border: 2px solid #f65a5b;
    color: white;
    font-family: 'roboto';
    font-weight: 300;
    font-size: 16px;
    padding: 2px;
    margin: auto 5px;
}

.save-priveleges{
    float: right;
    position: relative;
    background-color: #1fda9a;
    height: 30px;
    width: 20%;
    border: 2px solid #1fda9a;
    color: white;
    font-family: 'roboto';
    font-weight: 300;
    font-size: 16px;
    padding: 2px;
    margin: auto 5px;
}

.delete-user:hover {
    background-color: white;
    border: 2px solid #f65a5b;
    color: #f65a5b;
}

.save-priveleges:hover {
    background-color: white;
    border: 2px solid #1fda9a;
    color: #1fda9a;
}

.description-user-name {
    position: relative;
    display: inline-block;
    float: left;
    color: #666;
    font-size: 25px;
    font-weight: 500;
    font-family: 'roboto';
}

.delete-user-glyphicon, .save-priveleges-glyphicon {
    margin-right:10px;
}

.user-create-time {
    position: relative;
    float: left;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    color: #aaa;
    top: 10px;
    margin-left: 10px;
    font-family: 'roboto';
}

.available-pages {
    position: relative;
    width: 100%;
    clear: both;
    font-weight: 100;
    font-size: 18px;
    font-family: 'roboto';
}

.checkbox {
    display: inline-block;
    position: relative;
    float: inherit;
    color: #1fda9a;
    margin: 10px;
}

.extra-content {
    position: relative;
    margin-top: 46%;
}
