{% extends "base-layout.html" %}

{% block title %}
Shifu index
{% endblock %}

{% block includes %}
<link rel="stylesheet" href="{{ url_for('master.static',filename='css/index-style.css') }}">
<link rel="stylesheet" href="{{ url_for('master.static',filename='css/login-page.css') }}">

<link rel="stylesheet" href="{{ url_for('master.static',filename='css/manage-sites.css') }}">
{% endblock %}

{% block header %}
	<div class="navbar">
		<img src="{{ url_for('master.static',filename='media/logo.png') }}" id="logo" />  
		{% if user %}
		
		<form action="{{ url_for('.signout') }}">
			<input type="submit" id="logout" name="signout" value="sign out {{ user.username }}" />
		</form>
		{% else %}
		<form>
			<input type="submit" id="header_about" name="about" value="about" />
		</form> 
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<div id="error">
		{% if error %}
			{{ error }}
		{% endif %}
	</div>
	{% if user %}
	<div class="container">
            <div class="website"><img class="demo" src="images/website1.png"/> <p>This is a first demo website. Upper image used will be uploaded by the user and it will itself select a circular part from it. Descripton shown here will be added here by the user about this particular website.  </p><a href="#"><button class="edit">Edit</button></a> </div>
            <div class="website"><img class="demo" src="images/website2.png"/><p>This is a second demo website. Upper image used will be uploaded by the user and it will itself select a circular part from it. Descripton shown here will be added here by the user about this particular website.  </p><a href="#"><button class="edit">Edit</button></a></div>
            <a href="#"><div class="new_website"><p>+</p> </div></a>
    </div>
		
	{% else %}
	<div class="login_window">
		{% from "_registerformhelper.html" import render_field %}
        <form action="{{ url_for('.signin') }}" method="post">
		    {{ form.hidden_tag() }}
		    <div id="container">
		    	{{ render_field(form.username,placeholder="username") }}
		        <!--<input type="text" name="username" placeholder="Email or Username"  />-->
		        {{ render_field(form.password,placeholder="password") }}
		        <!--<input type="password" name="Password" placeholder="Password" />-->
		    
		    </div>
			
		    <input type="submit" class="button" id="login" value="sign in"/>
		</form>  
    </div>
    
    <div class="text" id="or"><h1>Or</h1></div>
    <form action="{{ url_for('.signup') }}">
    	<input type="submit" class="button" id="new_acc" value="Create New Account" />
    </form>
    {% endif %}
{% endblock %}

{% block footer %}

{% endblock %}