{% extends "layout.html" %}

{% block title %}
{{ super() }}-Admin
{% endblock %}

{% block includes %}
	{{ super() }}

	<link rel="stylesheet" href="{{ url_for('users.static',filename='css/user_form.css') }}">
{% endblock %}

{% block header %}
	<div class="bground" style="background-image:url({{ url_for('static',filename='media/images/background.jpg') }} );">
	{{ super() }}
{% endblock %}

{% block content %}
	
		
	
	{% if user %}
	
		logged in
	</div>
		
	{% else %}
		<!--form for sign up-->
            <div class="entry-form">
            	{% from "_registerformhelper.html" import render_field %}
                <form class="form-horizontal" action="{{ url_for('.signin') }}" method="post">
                	{{ form.hidden_tag() }}
        <!--username -->
	                <div class="form-group has-feedback {% if form.username.errors %} has-error {% endif %}">
	                    <div class="col-xs-12"  >
	                       <!-- <input type="text" id="username" class="form-control" placeholder="Username" required>
	                        <span class="help-block"></span>
							-->
	                        {{ render_field(form.username,placeholder="username",class="form-control",required="required",) }}
	                    </div>
	                </div>
        <!--password-->
                    <div class="form-group has-feedback{% if form.password.errors %} has-error {% endif %}">    
                        <div class="col-xs-12">
                            <!--<input type="password" id="password" class="form-control" placeholder="Password" required>
                            <span class="help-block"></span>-->
                            {{ render_field(form.password,placeholder="password",class="form-control",required="required",id="password") }}
                        </div>
                    </div>
        <!--submit button-->
                    <div class="form-group">
                        <div class="col-xs-12">
                        <input type="submit" class="btn form-control btn-primary" value="Login" />
                        </div>
                    </div>
                </form>
            </div>

        
    {% endif %}

    
    </div>

{% endblock %}


{#

<!--
error("Error","{{ error }}","error");
<script src="{{ url_for('static',filename='js/error_message.js') }}">
    	</script>
document.querySelector('button.download').onclick = function(){
	$("html, body").animate({ scrollTop: $("#download-section").offset().top }, 1000);
};

document.querySelector('.showcase.normal button').onclick = function(){
	alert("Oops... Something went wrong!");
};

document.querySelector('.showcase.sweet button').onclick = function(){
	swal("Oops...", "Something went wrong!", "error");
};

document.querySelector('ul.examples li.message button').onclick = function(){
	swal("Here's a message!");
};

document.querySelector('ul.examples li.title-text button').onclick = function(){
	swal("Here's a message!", "It's pretty, isn't it?")
};

document.querySelector('ul.examples li.timer button').onclick = function(){
	swal({
		title: "Auto close alert!",
		text: "I will close in 2 seconds.",
		timer: 2000
	});
};

document.querySelector('ul.examples li.success button').onclick = function(){
	swal("Good job!", "You clicked the button!", "success");
};

document.querySelector('ul.examples li.warning.confirm button').onclick = function(){
	swal({
		title: "Are you sure?",
		text: "You will not be able to recover this imaginary file!",
		type: "warning",
		showCancelButton: true,
		confirmButtonColor: '#DD6B55',
		confirmButtonText: 'Yes, delete it!',
		closeOnConfirm: false,
		//closeOnCancel: false
	},
	function(){
		swal("Deleted!", "Your imaginary file has been deleted!", "success");
	});
};

document.querySelector('ul.examples li.warning.cancel button').onclick = function(){
	swal({
		title: "Are you sure?",
		text: "You will not be able to recover this imaginary file!",
		type: "warning",
		showCancelButton: true,
		confirmButtonColor: '#DD6B55',
		confirmButtonText: 'Yes, delete it!',
		cancelButtonText: "No, cancel plx!",
		closeOnConfirm: false,
		closeOnCancel: false
	},
	function(isConfirm){
    if (isConfirm){
      swal("Deleted!", "Your imaginary file has been deleted!", "success");
    } else {
      swal("Cancelled", "Your imaginary file is safe :)", "error");
    }
	});
};

document.querySelector('ul.examples li.custom-icon button').onclick = function(){
	swal({
		title: "Sweet!",
		text: "Here's a custom image.",
		imageUrl: 'http://i.imgur.com/4NZ6uLY.jpg'
	});
};


-->
#}