<html>

<head>
<style>
	a {
		color:#fff;
	}
</style>
</head>

<body>
{% if error %}
		{{ error }}
{% endif %}

<div style="height:100%;width:100%;background-color:#534;color:#fff;">

{% if username %}
	<h1>
		{{ username }}
	</h1>
{% else %}
	

	{% from "_registerformhelper.html" import render_field %}
	<form action="{{ url_for('.signin') }}" method="post">
		{{ form.hidden_tag() }}
		<dl>
			{{ render_field(form.username) }}
			{{ render_field(form.password) }}
		</dl>
		<p>
			<input type="submit" name="signin">
	</form>

{% endif %}

<a href="{{ url_for('.signup') }}">signup</a>

</div>

</body>
</html>