<!DOCTYPE HTML>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="{% if user is defined %} {{ user.tagline }} {% endif %}">
	    <meta name="author" content="">
    
        <title>{% block title %}{{ page_title }}{% endblock %}</title>
        
        {% block includes %}
            <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='lib/bootstrap-3.1.1-dist/css/bootstrap.min.css') }}" />
            <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='lib/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css') }}" />
            <script src=" {{ url_for('static',filename='lib/bootstrap-3.1.1-dist/js/bootstrap.min.js') }}"></script>
        
            <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/base.css' ) }}" />
        {% endblock %}
    </head>
    <body>
        
            {% block header %}
            {% endblock %}

            {% block content %}
            {% endblock %}

            {% block footer %}
            {% endblock %}
        
    </body>
    
</html>