{% extends "base-layout.html" %}

{% block title %}
Shifu-Dashboard
{% endblock %}

{% block includes %}
{{ super() }}
<!-- dashboard navbar css -->
<link type="text/css" rel="stylesheet" href=" {{ url_for('static',filename='css/dashboard-navbar.css') }}" />

<link type="text/css" rel="stylesheet" href=" {{ url_for('static',filename='css/dashboard.css') }}" />
{% endblock %}

{% block body %}
	{% block header %}
		<div class="bground">
	        <nav>    
		        <div class="navbar navbar-default navbar-fixed-top">
		            <img class="header-pallete" src="{{ url_for('static',filename='media/images/palette.png') }}" />
		            <ul class="nav">  
		                <li class="brand-active">  
		                <a class="brand" href="#">Shifu</a>  
		                </li>  
		                <!--<li class="navigation_opt"><a href="#">Actions</a></li>  
		                <li  class="navigation_opt"><a href="#">flower</a></li>-->
		                <li class="navigation_opt"><a href=" {{ url_for('users.signout',username=username) }}"><span class="glyphicon glyphicon-user"></span> Logout</a>                
		                <li  class="navigation_opt">
		                    <a href="{{ url_for('master.index') }}" target="_blank" ><span class="glyphicon glyphicon-globe"></span> Website</a>
		                </li>
		                <li  class="navigation_opt">
		                    <a href="{{ url_for('users.admin') }}"><span class="glyphicon glyphicon-tasks"></span> Dashboard</a>
		                </li>
		            </ul>
		            <div class="down-arrow pull-right">
		                <span type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		                        <span class="caret"></span>
		                </span>
		                <ul class="dropdown-menu" role="menu">
		                    <li><a href="#"><i class="glyphicon glyphicon-send"></i> Help</a></li>
		                    <li><a href="#"><i class="glyphicon glyphicon-info-sign"></i> About</a></li>
		                    <li><a href="#"><i class="glyphicon glyphicon-edit"></i> Markdown Basics</a></li>
		                    <!--<li><a href="#"></a></li>
		                    <li><a href="#"></a></li>-->
		                </ul>
		            </div>  
		        </div>
	            <div class="logo-div">
	            	<img class="logo" src="{{ url_for('static',filename='media/images/logo.png') }}" />
	            </div>
	        </nav>
        </div>
	{% endblock %}

	{% block sidebar %}
	<!-- =============================== dashboard options ========================= -->
        
            <!-- =========== website =======-->
    <div class="dashboard">
        <div class="flip-container">
	       <div class="flipper">
		      <div class="front blue">
                <div class="front-icon">
			     <a href="#"><span class="glyphicon glyphicon-globe dashboard-glyphicon"></span></a>
                    <p>Website</p>
                </div>
		      </div>
		      <div class="back dark-blue">
                <div class="back-option-website" >
                    <a href="{{ url_for('website.name') }}" class="option"><span class="glyphicon glyphicon-bookmark back-glyphi website"></span> Website Name</a><br />
                    <a href="{{ url_for('website.theme') }}" class="option"><span class="glyphicon glyphicon-picture back-glyphi website"></span>Change Theme</a><br />
                    <a href="{{ url_for('website.refresh_enviornment') }}" class="option"><span class="glyphicon glyphicon-tree-conifer back-glyphi website"></span>  Refresh Environment</a>
                </div>
		      </div>
	       </div>
        </div>
        <!-- =========== page =======-->
        <div class="flip-container">
	       <div class="flipper">
		      <div class="front green">
                <div class="front-icon">
			     <a href="#"><span class="glyphicon glyphicon-list-alt dashboard-glyphicon"></span></a>
                    <p>Pages</p>
                </div>
		      </div>
		      <div class="back dark-green">
                <div class="back-option-page" >
                    <a href="{{ url_for('pages.add') }}" class="option"><span class="glyphicon glyphicon-plus back-glyphi page"></span>  Add page</a><br />
                    <a href="{{ url_for('pages.delete') }}" class="option"><span class="glyphicon glyphicon-trash back-glyphi page"></span>  Delete Page</a><br />
                    <a href="{{ url_for('pages.change_index') }}" class="option"><span class="glyphicon glyphicon-home back-glyphi page"></span>  Change Index Page</a>
                </div>
		      </div>
	       </div>
        </div>
        <!-- =========== settings =======-->
        <div class="flip-container">
	       <div class="flipper">
		      <div class="front code-red">
                <div class="front-icon">
			     <a href="#"><span class="glyphicon glyphicon-cog dashboard-glyphicon"></span></a>
                    <p>Settings</p>
                </div>
		      </div>
		      <div class="back dark-code-red">
                <div class="back-option-setting" >
                    <span class="glyphicon glyphicon-info-sign back-glyphi setting">  <a href="#" class="option">Profile</a></span><br />
                    <span class="glyphicon glyphicon-barcode back-glyphi setting">  <a href="#" class="option">Change Password</a></span><br />
                    <span class="glyphicon glyphicon-user back-glyphi setting">  <a href="#" class="option">Users</a></span>
                </div>
		      </div>
	       </div>
        </div>
    </div>
        <!-- ============================== dashboard options end=================================== -->
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block footer %}
	{% endblock %}

{% endblock %}

