.editor-area {
    position: absolute;
    height: 90%;
    width: 86%;
    top: 10%;
    left: 14%;
}

.edit-option-bar {
    position: relative;
    margin-top: 4%;
    width: 90%;
    left: 5%;
}

.active {
}

li:hover
{
    background-color: #f7eac8;
}

.opt {
    color: #666;
    background-color:#eee
}

.opt:hover {
    border:1px solid #28abe3;
    color: #28abe3;
    background-color:#eee
}

.related-divs{
    position: relative;
    width: 90%;
    left: 5%;
}

.tab-pane{
    position: relative;
    width: 100%;
    height: 400px;
}

.textarea{
    display: block;
    border: 1px solid #28abe3;
    position: relative;
    top: 10%;
    height: 80%;
    width: 100%;
}

.btn {
}