<html>
<head>
<title>
	{% block title %}
		{{ data['title'] }}
	{% endblock %}
</title>

{% block includes %}
<!--<link rel="stylesheet" href="style.css">-->
<!--<link rel="stylesheet" href="style2.css">
<script src="javasc.js">
</script>-->
<!--
<script src="javasc2.js">
</script>
-->
	{% for file in data['includes']['css'] %}
		<link rel="stylesheet" href="{{ file|safe }}"/>
	{% endfor %}
	{% for file in data['includes']['js'] %}
		<link rel="stylesheet" href="{{ file|safe }}"/>
	{% endfor %}	
{% endblock %}
</head>

<body>


    <div class="main-wrapper">
        <div class="main-heading">
            <div class="main-heading-content">
                <h1>{{ data['heading']|safe }}</h1>
            </div>
            <div class="main-heading-subscript">
            {{ data['tagline']|safe }}
            </div>
        </div>
        
        <div class="links">
            <ul>
                {% for link in data['links'] %}
                <li>{{ link|safe }}</li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="footer">
            <div class="footer-content">
				{% if data['footer'] %}
					{{ data['footer']|safe }}
				{% endif %}<br/>
                made with shifu
            </div>
            
        </div>
    </div>

</body>
</html>