<!doctype html>
<html>
    <head>
        <title>Welcome to Shifu</title>
        <link type="text/css" rel="stylesheet" href="./login_page.css" />
    </head>
    <body>
        <div class="navbar"><img src="images/VFF%20logo%20clear4.png" id="logo" />  <button id="about">About</button> </div>
        <div class="login_window">
            <div id="container">
        
            <input type="text" name="username" placeholder="Email or Username"  />
            <input type="password" name="Password" placeholder="Password" />
            </div>
            <button class="button" id="login">Login</button>
        
        </div>
        <div class="text" id="or"><h1>Or</h1></div>
        <button class="button" id="new_acc">Create a new account</button>
    </body>
</html>