<!doctype html>
<html>
    <head>
        <title>Welcome to Shifu</title>
        <link type="text/css" rel="stylesheet" href="css/manage_sites.css" />
    </head>
    <body>
        <div class="navbar"><img src="images/VFF%20logo%20clear4.png" id="logo" />  <a href="#"><button id="about">About</button></a><a href="login_page.html"><button id="logout">Logout</button></a> </div>
        <div class="container">
            <div class="website"><img class="demo" src="images/website1.png"/> <p>This is a first demo website. Upper image used will be uploaded by the user and it will itself select a circular part from it. Descripton shown here will be added here by the user about this particular website.  </p><a href="#"><button class="edit">Edit</button></a> </div>
            <div class="website"><img class="demo" src="images/website2.png"/><p>This is a second demo website. Upper image used will be uploaded by the user and it will itself select a circular part from it. Descripton shown here will be added here by the user about this particular website.  </p><a href="#"><button class="edit">Edit</button></a></div>
            <a href="#"><div class="new_website"><p>+</p> </div></a>
        </div>
    </body>
</html>