body {
    background-image:url('./media/background1.jpg');  
    background-size: cover;
    background-repeat: no-repeat;    
}
.main-wrapper {
    height: 100%;
    width:100%;
    background:rgba(0,0,0,0.5);
}

.main-heading {
    height:140px;
    width:100%;
    position: absolute;
    top:0px;
    bottom:0px;
    margin:auto;
    text-align: center;
}

.main-heading-content h1 {
    font-weight: 500;
    color:#fff;
    font-size: 100px;
    display: inline;
    padding:2px;
    opacity:0.9;
    transition: opacity 0.4s ease-in-out;
}
.main-heading-content h1:hover{
    opacity:1;  
    cursor:crosshair;
}

.main-heading-subscript {
    padding:0px;
    margin:0px;
    display:inline;
    font-size: 40px;
    color:#fff;
    opacity:0.5;
    position:relative;
    top:-30px;
    transition: opacity 0.4s ease-in-out;
}

.main-heading-subscript:hover {
    opacity:0.8;   
}

.links {
    position:absolute;
    top:240px;
    bottom:0px;
    margin:auto;
    
    width:100%;
    height: 50px;
    
    color:#f65a5b;
    text-align: center;
}

.links ul {
    list-style: none;
    padding:0px;
    margin:0px;
    color:inherit;
    font-size: 30px;
}
.links ul li {
    display:inline;
    margin:0px 50px;
    color:inherit;
    transition: color 0.3s ease-in-out,font-size 0.3s ease-in-out;
}
.links ul li:hover {
    color:#fff;
    font-size: 32px;
    cursor:pointer;
}
.links ul li a {
    text-decoration: none;
    color:inherit;
}
p {
    color:inherit;
}

.footer {
    position:absolute;
    bottom:0px;
    width:100%;
    text-align:center;
    box-shadow: 0px -20px 50px 0px #000;
    background:rgba(0,0,0,0.7);
}

.footer-content {
    color:#f65a5b;
    opacity:0.6;
}
