body{
    margin: 0px;
    padding: 0px;
    background-color: #eaeaea;
    
}

.navbar{
    height: 9%;
    width:100%;
    position: fixed;
    background-color: white;
    box-shadow: 0px 2px 3px;
    z-index: 1;
}


#header_about {
    font-family:"Arial";
    font-size: 15px;
    position: relative;
    z-index: 10;
    background-color:transparent;
    border: none;
    float: right;
    position: relative;
    width: 70px;
    height: 40px;
    right: 40px;
    color: #f65a5b;
    margin:0 auto;
    top: 10px; bottom: 0px;
    border: 1px solid;
}

#header_about:hover {
    font-family:"Arial";
    font-size: 15px;
    position: relative;
    z-index: 10;
    background-color:#f65a5b;
    border: none;
    float: right;
    position: relative;
    width: 70px;
    height: 40px;
    right: 40px;
    color: white;
    margin:0 auto;
    top: 10px; bottom: 0px;
    border: 1px solid;
}

#logo{
    position: relative;
    height:50px;
    width: 50px;
    left: 30px;
    float: left;
    top: 5px;
}