
.login_window {
    
    position:absolute;
    top: 0px; bottom: 0px; left: 0px;right: 0px;
    margin:auto;
    height: 32%;
    width: 40%;
    background-color: white;
    border-radius: 10px
}

#container{
    position: relative;
    height: auto;
}

input {
    font-size: 15px;
    font-family:"Arial";
    position: relative;
    display: block;
    background-color: #eaeaea;
    height: 35px;
    width: 350px;
    margin:0 auto;
    margin-top: 20px;
    /*border-radius:5px;*/
    z-index: 20;
    border-radius: 5px;
}

.button:not(:active){
    font-family:"Arial";
    border: none;
    background-color: #f65a5b;
    border-radius: 25px;
    color: white;
}

.button:active{
    font-family:"Arial";
    border:1px solid #f65a5b;
    background-color: white;
    border-radius: 25px;
    color: #f65a5b;
    
}
#login {
    font-family:"Arial";
    float:right;
    margin-top: 20px;
    margin-right: 25px;
    height: 35px;
    width: 70px;
    font-size: 15px;
    text-decoration: none;
}

.text{
    font-family:"Arial";
    z-index: 20;
    color: black;
    height: auto;
    width: auto;
    position: absolute;
}

#or {
    left: 0px; right: 0px;
    text-align: center;
    margin:0 auto;
    opacity: .15;
    top:430px;
}

#new_acc{
    font-family:"Arial";
    position: absolute;
    top: 500px;
    height: 35px;
    width: 350px;
    font-size: 18px;
    left: 0px; right: 0px;
    margin:0 auto;
    text-decoration: none;
}


#error {
    width:100%;
    position: absolute;
    top:10%;
    background-color: red;
    color:#fff;
}