{% extends "layout.html" %}

{% block title %}
401 Access Denied
{% endblock %}

{% block content %}
	<div id="message" style="position:absolute;top:0px;left:0px;bottom:0px;right:0px;margin:auto;width:600px;height:100px;font-weight:900;">
	<center>
		<h1>
		{% if message %}
			{{ message }}
		{% else %}
			access is denied[default]
		{% endif %}
		</h1>
	<form action="{{ url_for('.admin') }}">
    	<input type="submit" class="button" id="new_acc" value="Go Back" />
    </form>
    </center>
	</div>
	
    
    
{% endblock %}
