form {
    position: relative;
    margin-top: 100%;
}

.entry-form{
    position: absolute;
    width: 300px;
    top: 0px; left:10%; bottom: 0px;
    margin:auto;
    display: inline-block;
    background-color: transparent;
    background-color: rgba(247,234,200,0.8);
    box-shadow:-3px 0px 20px 0px #222;
}

form {
    position: relative;
    margin-top: 60%;
}

.form-group {
    position: relative;
    width: 100%;
    left: 15px;
    top:;
}

div.bground {
    background-image:url('../images/kung_fu_master_shifu_wallpaper-1366x768.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
}
