@font-face {
    font-family : 'Laila';
    src: url('./font/Laila/Laila-Regular.ttf');
    font-weight: 100;
}
@font-face {
    font-family : 'Laila';
    src: url('./fonts/Laila/Laila-Regular.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'Laila';
    src: url('./fonts/Laila/Laila-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Laila';
    src: url('./fonts/Laila/Laila-Semibold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Laila';
    src: url('./fonts/Laila/Laila-Bold.ttf');
    font-weight: 900;
}

body {
    height: 100%;
    width:100%;
    margin:0px;
    padding:0px;

}

* {
    font-family: 'Laila';
    color:#333333;
    font-weight: 200;
}
p {
    display:inline-block;
    margin:0px;
    padding:0px;
}
