<!doctype html>
<html>
<head>
    
    <link rel="stylesheet" href="./style_css/404.css">
</head>

<body>
<div class="header-background" style="background-image:url('./images/404back.jpg');">
    
    <div class="logo">
        <img src="./images/logo_yellowshadow.png" class="logo-img" />
    </div>
</div>
<div class="color-pallet">
    <img src="./images/pallet.png" class="color-pallet-img" />
</div>
<div class="content">
    <div class="content-heading">
        404
    </div>
    <div class="content-content">
        <h1> Page Not Found </h1>
        The page you have requested is not present. Please check the address.
        <br/>
        <button class="return-button">Home</button>
    </div>
</div>
</body>
</html>