<!doctype html>
<html>
    <head>
        <title>Shifu | New Website Name</title>
        <link type="text/css" rel="stylesheet" href="bootstrap-3.1.1-dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="bootstrap-3.1.1-dist/css/bootstrap-theme.min.css" />
        <link type="text/css" rel="stylesheet" href="style_css/new_website_name.css" />
        <link type="text/css" rel="stylesheet" href="style_css/navbar.css" />
        <script src="bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        
    <!--      ==============================NAVBAR STARTS =================================    -->
    <div class="bground">
        <nav>    
        <div class="navbar navbar-default navbar-fixed-top">
            <img class="header-pallete" src="pallet/Color-Palette-Post-03-Fitz.png" />
                    <!--navigation does here-->  
            <ul class="nav">  
                <li class="brand-active">  
                <a class="brand" href="#">Shifu</a>  
                </li>  
                <!--<li class="navigation_opt"><a href="#">Actions</a></li>  
                <li  class="navigation_opt"><a href="#"></a></li>-->
                <li class="navigation_opt"><a href="#"><span class="glyphicon glyphicon-user"></span> Logout</a></li>  
            </ul>  
        </div>
            <div class="logo-div">
            <img class="logo" src="images/logo_yellowshadow.png" />
            </div>
        </nav>
    </div>
        <!-- ================================ navbar ends =================================== -->
        
    <!-- ======================================              ================================ -->
        <div class="name-board" >
            <div class="pencil">
            <span class="glyphicon glyphicon-pencil glyphi-pencil "></span>
            </div>
            
            <h2>Lets give it a name first!</h2>
            
            <form>
            <div class="container">
                <div class="col-md-12 input-group">
                    <input type="text" id="wbsite-name" class="form-control container-input" placeholder="Your website name" />
                    <!--<input type="submit" class="btn" value="Submit" />-->
                    <span class="input-group-addon glyphicon glyphicon-ok-sign glyphi"><a href="#"></a></span>
                </div>
                
            </div>
            </form>
        </div> 
        
        
</body>
</html>